<extend name="Inherit/index" />
<block name="content">

	<div class='caption'>
			<div class="houtui">
				<p><</p>
			</div>
			<p class='shenglue'><{$data.title}></p>
		</div>

		<div class="content">
			<div class='content_t'>
				<p><{$data.daohan}></p>
			</div>

			<div class="det_title">
				<p><{$data.title}></p>
			</div>
			<div class='det_time'>
				<p><{$data.time}></p>
			</div>
		</div>
	</div>

	<div class='h_div'></div>
	
	<div class="content_text">
		<p><{$data.content}></p>
	</div>




</block>