<extend name="Inherit/index" />
<block name="content">
	<div class='caption'>
		<div class="houtui">
			<p><</p>
		</div>
		<p class='shenglue'><{$title}></p>
	</div>

	<div class="content">
		<div class='content_t'>
			<p><{$daohan}></p>
		</div>
		<div class="time_v">
			<div class="time_l">
				<p>2016</p>
			</div>
			<div class="time_r">
				<p class="shenglue">2016年国家行测真题（学员回忆部分卷）</p>
				<span>题型:</span>
				<p>常识判断  言语理解  言语理解  言语理解  言语理解 </p>
			</div>
		</div>

		<div class="time_v">
			<div class="time_l">
				<p>2015</p>
			</div>
			<div class="time_r">
				<p class="shenglue">2016年国家行测真题（学员回忆部分卷）</p>
				<span>题型:</span>
				<p>常识判断  言语理解  言语理解  言语理解  言语理解 </p>
			</div>
		</div>

		<div class="time_v">
			<div class="time_l">
				<p>2014</p>
			</div>
			<div class="time_r">
				<p class="shenglue">2016年国家行测真题（学员回忆部分卷）</p>
				<span>题型:</span>
				<p>常识判断  言语理解  言语理解  言语理解  言语理解 </p>
			</div>
		</div>

		<div class="time_v">
			<div class="time_l">
				<p>2013</p>
			</div>
			<div class="time_r">
				<p class="shenglue">2016年国家行测真题（学员回忆部分卷）</p>
				<span>题型:</span>
				<p>常识判断  言语理解  言语理解  言语理解  言语理解 </p>
			</div>
		</div>
	</div>

</block>