<extend name="Inherit/index" />
<block name="content">
	<div class='caption'>
		<div class="houtui">
			<p><</p>
		</div>
		<p><{$title}></p>
	</div>

	<div class="content">
		<div class='content_t'>
			<p><{$daohan}></p>
		</div>
		<div class="content_v">
			<p>2016上半年北京各区公务员招录考试综合成绩(汇总)1111111111111111</p>
		</div>
		<div class="content_v">
			<p>2016上半年北京各区公务员招录考试综合成绩(汇总)1111111111111111</p>
		</div>
		<div class="content_v">
			<p>2016上半年北京各区公务员招录考试综合成绩(汇总)1111111111111111</p>
		</div>
		<div class="content_v">
			<p>2016上半年北京各区公务员招录考试综合成绩(汇总)1111111111111111</p>
		</div>
		<div class="content_v">
			<p>2016上半年北京各区公务员招录考试综合成绩(汇总)1111111111111111</p>
		</div>
		<div class="content_v">
			<p>2016上半年北京各区公务员招录考试综合成绩(汇总)1111111111111111</p>
		</div>
		<div class="content_v">
			<p>2016上半年北京各区公务员招录考试综合成绩(汇总)1111111111111111</p>
		</div>
		<div class="content_v">
			<p>2016上半年北京各区公务员招录考试综合成绩(汇总)1111111111111111</p>
		</div>
		<div class="content_v">
			<p>2016上半年北京各区公务员招录考试综合成绩(汇总)1111111111111111</p>
		</div>
	</div>

	<div class='jiazai_gd'>
		<button class='jiazai_gd_but'>查看更多</button>
	</div>
</block>
