<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/common.css" type="text/css"/>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css" type="text/css"/>   
    <title>无标题</title>
</head>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.11.1.min.js"></script>
<body>
    <block name='content'></block>
	
	<!-- <div class='h_div'></div>
	<div id='contact'>
		<div class='contact_v contact_1'>
			<p>成"公"电话</p>
		</div>
		<div class='contact_v contact_2'>
			<p>资讯QQ</p>
		</div>
		<div class='contact_v contact_3'>
			<p>在线报名</p>
		</div>
	</div>
	
	<div class="bottom_2">
		<p>志公教育版权所有 Copyright @ 2004-</p>
	</div> -->

</body>
</html>